<!DOCTYPE html>
<html ng-app="emojiApp">

<head>
    <title>Angular Emoji</title>
    <link type="text/stylesheet" rel="stylesheet" href="css/nanoscroller.css" />
    <link type="text/stylesheet" rel="stylesheet" href="css/emoji.css" />
    <link type="text/stylesheet" rel="stylesheet" href="css/style.css" />
     <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
</head>

<body ng-controller="emojiController">
    <h1>Angular Emoji Popup</h1>


    <div class="myform">
        <div my-form emoji-message="emojiMessage">
            <textarea id="messageInput" ng-enter="replyToUser()" ng-model="emojiMessage.messagetext" placeholder="Write a message..."></textarea>


            <div style="margin-right:10px;margin-top:5px;" class="im_emoji_btn" id="emojibtn" style="cursor:pointer">
                <i class="icon icon-emoji" style="cursor:pointer; margin-left:20px;margin-top:10px;"></i>
            </div>
        </div>

        <div style="text-align:left;height:50px;width:500px"> String with Colons: </div>
        <div>
            <div class="form-control" style="height:50px;width:500px" ng-bind="emojiMessage.messagetext"></div>
        </div>

        <div> String with UTF Chars: (Will not display fine in input box) </div>
        <div>
            <input class="form-control" ng-model="emojiMessage.messagetext"> </div>

    </div>




    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
   

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
     <script type="text/javascript" src="js/jquery.emojiarea.js"></script>
    <script type="text/javascript" src="js/emoji.js"></script>
   




    <script type="text/javascript" src="js/emojiController.js"></script>
    <script type="text/javascript" src="js/emojiDirectives.js"></script>
    <script type="text/javascript" src="js/nanoscroller.js"></script>

</body>

</html>
